@inject NavigationManager NavigationManager
<div class="loader loader-bouncing">
    <span>Redirecting...</span>
</div>

@code{

    [Parameter]
    public string ReturnUrl { get; set; }

    protected override void OnInitialized()
    {
        var localRedirect = "/" + NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.NavigateTo($"/Login/{Uri.EscapeDataString(localRedirect)}");
    }

}