@inject NavigationManager navigationManager
<div class="loader loader-bouncing"><span>Redirecting...</span></div>
@code{
    [Parameter]
    public string ReturnUrl {get; set;}

    protected override void OnInitialized()
    {
        ReturnUrl = ReturnUrl.Substring(navigationManager.BaseUri.Length).Replace("/", "&");
        navigationManager.NavigateTo($"/login/{ReturnUrl}");
    }
}
