@inject NavigationManager NavigationManager
<div class="loader loader-bouncing">
    <span>Redirecting...</span>
</div>

@code{

    [Parameter]
    public string ReturnUrl { get; set; }

    protected override void OnInitialized()
    {
        ReturnUrl = ReturnUrl.Substring(NavigationManager.BaseUri.Length).Replace("/", "&");
        NavigationManager.NavigateTo($"/login/{ReturnUrl}");
    }

}